{% extends 'base.html.twig' %}

{% block title %}MAA | BACK OFFICE{% endblock %}

{% block content %}
	<style>
		body {
			background-color: #222;
			color: white;
		}
	</style>

    <h1 class="display-4 text-center my-4">Administration</h1>

    <h4 class="text-center">Bienvenue <span class="">{{app.user.prenom}}</span> dans votre <span class="">gestionnaire</span></h4>
    <hr style="background-color: rgb(255, 255, 255);margin-top:93px;">
<div class="text-center" style="display: flex; justify-content:space-between; ">
    <a href="{{ path('admin_membres') }}" class="col-md-2 btn btn-dark p-3 mb-2 "style="border-radius: 30px;"><img src="assets/img/membres.png" alt="" style="width: 100px;"></a>
    <a href="" class="col-md-2  btn btn-dark p-3 mb-2" style="border-radius: 30px;"><img src="assets/img/combatant.png" alt="" style="width: 100px;"></a>
    <a href="" class="col-md-2 btn btn-dark p-3 mb-2" style="border-radius: 30px;"><img src="assets/img/forum.png" alt="" style="width: 100px;"></a>
</div>
<hr style="background-color: rgb(255, 255, 255);">

{% endblock %}
