body {
    position: relative;
    min-height: 105vh;

}


.navbar-conex,
.navbar-conex a {
    color: white;
}



.foot {
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 20px;
}

.formulaire {
    background-color: rgba(139, 139, 139, 0.233);
    border: solid 1px rgba(0, 0, 0, 0.021);
    border-radius: 22px;
}


/* AJOUT HOME CYRIL 09/12/2020 */

.instagram {
    background-color: red;
}

.fightername {
    font-family: 'Anton', sans-serif;
    font-size: 2vw;
}

.underbanner {
    height: 77px;
    width: 100%;
}

.annonce {
    height: 680px;
    width: 100%;
    background-color: white;
    
}

.annoncetext{
   
    text-align: center;
    color: black;
}
.textcolonnetale {
    font-family: 'Anton', sans-serif;
    color: white;
    background-color: #ffc107;

    border-radius: 2px;
}

#myCarousel {
    width: 100%;
    height: auto;
}

.prono {
    height: 480px;
    width: 100%;
    overflow: auto;
}

.bloc {
    height: 100px;
}

.forum {
    height: 480px;
    background-color: white;
    width: 100%;
    overflow: auto;
    padding: 0px !important;

}


.top15 {
    height: 680px;
    /* background-color:white; ne pas effacer */
    width: 100%;
    overflow: auto;
}

.entbanner {
    height: 25px;
    background-color: black;
    width: 100%;
}

.entertainment {
    height: 480px;

}

.tofhetapetitle {
    text-align: center;
    font-size: 2.8vw;
    font-family: 'Anton', sans-serif;
    color: white;
    background-color: #ffc107;
}

.bluecorner {
    width: 79%;
}

.redcorner {
    width: 79%;
    transform: scaleX(-1);
}

.ranking {
    text-align: center;
}


/* *******media queries telephone***********/



@media screen and (max-width: 619px) {
    .annonce {
        order: 1;
    }

    .bluecorner {
        order: 2;
    }

    .redcorner {
        order: 0;
    }

    .prono {
        order: 1;
    }

    .taleofthetape {
        order: 0;
    }

    .bloc {
        order: 4;
    }
}




/************** Style des tableau ****************/

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.styled-table thead tr {
    background-color: #318070;
    color: #ffffff;

}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #444;
    border-radius: 22px;
}