/* custom css */
.tdi_28_fd5 {
    vertical-align: baseline;
}

.tdi_28_fd5>.wpb_wrapper,
.tdi_28_fd5>.wpb_wrapper>.tdc-elements {
    display: block;
}

.tdi_28_fd5>.wpb_wrapper>.tdc-elements {
    width: 100%;
}

.tdi_28_fd5>.wpb_wrapper {
    width: auto;
    height: auto;
}







/* custom css */
.td_video_playlist_title {
    position: relative;
    z-index: 1;
    background-color: #222;
}

.td_video_playlist_title .td_video_title_text {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    margin-left: 17px;
    margin-right: 17px;
    vertical-align: middle;
    line-height: 24px;
    padding: 10px 0;
}

.td_wrapper_video_playlist {
    z-index: 1;
    position: relative;
    display: flex;
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper {
    background-color: @td_theme_color;
    position: relative;
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper:before {
    content: '';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGBAMAAADwPukCAAAAElBMVEUAAAAAAAAAAAAAAAAAAAAAAADgKxmiAAAABnRSTlM9KRgMBADiSB2HAAAAFElEQVR4XmNgYBBgUGAwYHBgCAAAA3wA8fpXm6EAAAAASUVORK5CYII=') repeat-x;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: -6px;
    z-index: 1;
}

.td_wrapper_video_playlist .td_video_stop_play_control {
    position: relative;
    width: 65px;
    height: 65px;
    outline: 0 !important;
}

.td_wrapper_video_playlist .td_video_stop_play_control:after {
    content: '';
    width: 1px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 14px;
    right: 0;
}

.td_wrapper_video_playlist .td_youtube_control,
.td_wrapper_video_playlist .td_vimeo_control {
    position: relative;
    top: 12px;
    left: 11px;
    cursor: pointer;
}

.td_wrapper_video_playlist .td_video_title_playing {
    position: absolute;
    top: 13px;
    left: 80px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    color: #ffffff;
    padding-right: 7px;
    max-height: 37px;
    overflow: hidden;
}

.td_wrapper_video_playlist .td_video_time_playing {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 10px;
    font-style: italic;
    color: #ffffff;
    line-height: 17px;
    padding-right: 1px
}

.td_wrapper_video_playlist .td_video_currently_playing {
    background-color: #404040;
}

.td_wrapper_video_playlist .td_video_currently_playing:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 3px solid #4db2ec !important;
    width: 3px;
    height: inherit;
}

.td_wrapper_video_playlist .td_click_video {
    height: 60px;
    display: block;
    width: 100%;
    position: relative;
}

.td_wrapper_video_playlist .td_click_video:hover {
    background-color: #333333;
    cursor: pointer;
}

.td_wrapper_video_playlist .td_video_thumb {
    position: relative;
    top: 10px;
    width: 72px;
    height: 40px;
    overflow: hidden;
    margin-left: 16px;
}

.td_wrapper_video_playlist .td_video_thumb img {
    position: relative;
    top: -6px;
}

.td_wrapper_video_playlist .td_video_title_and_time {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 0 30px 0 103px;
}

.td_wrapper_video_playlist .td_video_title_and_time .td_video_title {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    line-height: 15px;
    max-height: 30px;
    overflow: hidden;
}

.td_wrapper_video_playlist .td_video_time {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 10px;
    font-style: italic;
    color: #777777;
    line-height: 13px;
}

.td_wrapper_video_playlist .td_wrapper_player {
    background-color: #000;
    overflow: hidden;
}

.td_wrapper_video_playlist .td_wrapper_player iframe {
    width: 100%;
    height: 100% !important;
}

.td_wrapper_video_playlist .td_container_video_playlist {
    display: flex;
    flex-direction: column;
    background-color: #222;
    vertical-align: top;
    overflow: hidden;
}

.td_wrapper_video_playlist .td_playlist_clickable {
    overflow-y: auto;
    overflow-x: hidden;
}

.td_video_playlist_column_3 .td_wrapper_player,
.td_video_playlist_column_3 .td_container_video_playlist {
    height: 409px;
}

.td_video_playlist_column_3 .td_wrapper_player {
    display: block;
    flex: 1;
}

.td_video_playlist_column_3 .td_container_video_playlist {
    width: 341px;
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-track {
    background-color: #383838;
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px;
}

.td_video_playlist_column_2 .td_wrapper_video_playlist {
    flex-direction: column;
}

.td_video_playlist_column_2 .td_video_title_playing {
    max-height: 20px;
    top: 23px;
}

.td_video_playlist_column_2 .td_wrapper_player {
    display: block;
    height: 391px;
}

.td_video_playlist_column_2 .td_container_video_playlist {
    height: 305px;
}

.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar,
.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-track {
    background-color: #383838;
}

.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar,
.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb,
.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px;
}

.td_video_playlist_column_1 .td_wrapper_video_playlist {
    flex-direction: column;
}

.td_video_playlist_column_1 .td_wrapper_player {
    display: block;
    height: 182px;
}

.td_video_playlist_column_1 .td_container_video_playlist {
    height: 412px;
}

.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar,
.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-track {
    background-color: #383838;
}

.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar,
.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb,
.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px;
}

.wp-video-shortcode:focus {
    outline: 0 !important;
}

@media(max-width: 767px) {
    .td_video_playlist_title .td_video_title_text {
        text-align: center;
    }
}

@media(min-width: 481px) and(max-width: 1018px) {
    .td_wrapper_video_playlist .td_video_title_playing {
        max-height: 20px;
        top: 23px;
    }
}

@media(max-width: 480px) {
    .td_wrapper_video_playlist .td_video_title_playing {
        max-height: 37px;
        top: 13px;
    }
}

@media(max-width: 1018px) {
    .td_wrapper_video_playlist .td_wrapper_player {
        flex: auto !important;
    }
}

@media(max-width: 767px) {
    .td_wrapper_video_playlist .td_wrapper_player {
        margin-bottom: -5px;
    }
}

@media(max-width: 1018px) {
    .td_video_playlist_column_3 .td_wrapper_video_playlist {
        flex-direction: column;
    }
}

@media(min-width: 1019px) and(max-width: 1140px) {

    .td_video_playlist_column_3 .td_wrapper_player,
    .td_video_playlist_column_3 .td_container_video_playlist {
        height: 365px;
    }
}

@media(min-width: 768px) and(max-width: 1018px) {
    .td_video_playlist_column_3 .td_wrapper_player {
        width: 100%;
        height: 416px;
    }
}

@media(max-width: 767px) {
    .td_video_playlist_column_3 .td_wrapper_player {
        width: 100%;
        height: 260px;
    }
}

@media(min-width: 1019px) and(max-width: 1140px) {
    .td_video_playlist_column_3 .td_container_video_playlist {
        width: 331px;
    }
}

@media(max-width: 1018px) {
    .td_video_playlist_column_3 .td_container_video_playlist {
        width: 100%;
        height: 305px;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) and(min-width: 768px) and(max-width: 1018px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        margin-right: 10px;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) and(max-width: 767px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        margin-right: 10px;
    }
}

@media(min-width: 768px) and(max-width: 1018px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-track {
        background-color: #383838;
    }

    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb {
        background-color: #919191;
        border-radius: 10px;
    }
}

@media(max-width: 767px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-track {
        background-color: #383838;
    }

    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb {
        background-color: #919191;
        border-radius: 10px;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist {
        margin-right: 10px;
    }
}

@media(max-width: 480px) {
    .td_video_playlist_column_2 .td_video_title_playing {
        max-height: 37px;
        top: 13px;
    }
}

@media(min-width: 1019px) and(max-width: 1140px) {
    .td_video_playlist_column_2 .td_wrapper_player {
        height: 360px;
    }
}

@media(min-width: 768px) and(max-width: 1018px) {
    .td_video_playlist_column_2 .td_wrapper_player {
        height: 272px;
    }
}

@media(max-width: 767px) {
    .td_video_playlist_column_2 .td_wrapper_player {
        display: block;
        height: auto;
    }
}

@media(max-width: 480px) {
    .td_video_playlist_column_2 .td_container_video_playlist {
        height: 245px;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {

    .td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile,
    .td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist {
        margin-right: 10px;
    }
}

@media(min-width: 1019px) and(max-width: 1140px) {
    .td_video_playlist_column_1 .td_wrapper_player {
        height: 169px;
    }
}

@media(min-width: 768px) and(max-width: 1018px) {
    .td_video_playlist_column_1 .td_wrapper_player {
        height: 128px;
    }
}

@media(max-width: 767px) {
    .td_video_playlist_column_1 .td_wrapper_player {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media(max-width: 480px) {
    .td_video_playlist_column_1 .td_container_video_playlist {
        height: 245px;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {

    .td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile,
    .td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist {
        margin-right: 10px;
    }
}