
{% extends 'base.html.twig' %}


{% block content %}
    
    <br>
     
  
   {{ form_start(formulaire, {'attr': {'class': 'col-md-7 mx-auto'}}) }}

     {{ form_row(formulaire.commentaires, {'attr': {'placeholder': 'Message'}} ) }}
     
   
   <button type="submit" class="col-md-4 ml-5 text-center btn btn-dark ">Posté le commentaire</a></button> 


{{ form_end(formulaire) }}

  
        
       
{% endblock %} 