{% extends 'base.html.twig' %}
{% block title %}MMADDICT | Forum discussion
{% endblock %}
{% block content %}

	<div class="row text-center mx-auto">
		<div class="col-md-12">
			
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-primary"></strong>
				
						<h3 class="mb-2">BIENVENUE SUR LE FORUM</h3>
				
					<div class="mb-3 text-muted">Débatez dans le respect des régles du forum et des autres membres.
					</div>
					<p class="card-text mb-auto"></p>


				</div>
			
		</div>
	</div>

	<table class="styled-table table text-center container">
	<tr>
					<th class="align-middle  bg-warning">Discussions MMA</th>
					<th class="align-middle bg-warning">Participer au Forum</th>
			</tr>
		{% for data in allDiscussion %}
			
			<tr>
				<td class="">{{ data.titre }}</td>
				<td>
					{% if app.user %}
										<a href="{{ path('forum_home', {'id': data.id}) }}">
											<i class="btn btn border fas fa-eye regular"></i>
										{% else %}
											<a href="{{ path('app_login') }}">
												<i class="btn btn border fas fa-eye regular"></i>
											{% endif %}


										</a>

				</td>
			</tr>
		{% endfor %}
	</table>
					<div class="display-4 text-center  my-4">
		<a href="{{ path('home') }}" class="btn btn-dark btn-s">Retour</a>
	</div>
{% endblock %}
