{% extends 'base.html.twig' %}
{% block carousel  %}
    
{% endblock %}
{% block content %}


    
            <div class="row">
        <div class="col-md-8">
        <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"></strong>
            <a href=""><h3 class="mb-0">{{ discussion.titre}}</h3></a>
            <div class="mb-1 text-muted">Date </div>
            <p class="card-text mb-auto"></p>
            <a href="#" class="stretched-link">Continue reading</a>
            </div>
        </div>
    </div>

    </div>
     <table class="table table-dark table-bordered text-center">

            

            {% for data in allDiscussion %}
                <tr>
                    
                    <td>{{ data.titre }}</td>
                    
                    
                    <td>Acces à la discussion</td>




                </tr> 
          
                
            {% endfor %}

   

   
        
       
{% endblock %}